/* whole body */
body {
    background-image: url(/images/background-image.jpg);
    color: #1f2833;
}

.body {
    margin: 0 auto;
    padding: 3%;
}

/* nav bar */
.name {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 3.5em;
    margin-bottom: 0;
    color: darkcyan;
}

.bg-light {
    background-color:  #1f2833!important;
}

.navbar-light .navbar-nav .nav-link {
    color: darkcyan;
    font-family: 'Chivo', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    padding-left:100px;
    padding-right:100px;
    
}
.navbar{
    width: 101.5%;
    left: -15px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}


/* left side */
.self {
    margin-top: 3vh;
}

.docs {
    margin-top: 5vh;
    text-align: center;
    font-size: 2em;
    color: darkcyan;
    font-family: 'Fredoka One', cursive;
    font-weight: bolder;
}

.list-group-item {
    background-color: #1f2833;
    border: 1px solid #1f2833;
}

.list-group-item-action {
    width: 100%;
    color: darkcyan;
    font-family: 'Chivo', sans-serif;
    font-weight: bolder;
    font-size: 1.25em;
}

.click {
    margin-top: 5vh;
    font-family: 'Chivo', sans-serif;
    color: darkcyan;
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
}


/* right side */
.description {
    font-family: 'Lora', serif;
    margin-top: 2vh;
    font-size: 1.15em;
    line-height: 1.7em;
    color: darkcyan;
    background: border-box;
    background-color: #1f2833;
}

.firstletter {
    font-size: 100px;
    font-family: 'Lora', serif;
    font-weight: bolder;
    float: left;
    padding-top: 32px;
    padding-right: 17px;
    padding-left: 3px;
}