/* whole body */
body {
    background-image: url(/images/background-image.jpg);
    color: #1f2833;
}

.body {
    margin: 0 auto;
    padding: 3%;
}
p{
    color: darkcyan;
}


/* nav bar */
.name {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 3.5em;
    margin-bottom: 0;
    color: darkcyan;
}

.bg-light {
    background-color:  #1f2833!important;
}

.navbar-light .navbar-nav .nav-link {
    color: darkcyan;
    font-family: 'Chivo', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    padding-left:100px;
    padding-right:100px;
    
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}


/* contact card */
.aboutme {
    overflow: hidden;
    padding: 3%;
    color: darkcyan;
    background-color: #1f2833;
}

.aboutme h1 {
    color: darkcyan;
    border-bottom: 3px solid darkcyan;
    padding-bottom: 3vh;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 4vh;
    font-size: 2em;
}

.aboutme h4 {
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    margin-top: 2vh;
    margin-bottom: 1.3vh;
}

.aboutme p {
    font-size: 1.2em;
    font-family: 'Chivo', sans-serif;
    font-weight: bolder;
    border: 1px solid darkcyan;
    padding: 1.3%;
}


/* social media */
.socialMedia {
    border: 1px solid darkcyan;
    padding: 2%;
}

.socialMedia a {
    text-align: center;
    margin-right: 2%;
}

.fa-github-square:before {
    content: "\f092";
    color: darkcyan;
}

.fa-linkedin-square:before {
    content: "\f08c";
    color: darkcyan;
}

.fa-facebook-square:before {
    content: "\f082";
    color: darkcyan;
}

.fa-twitter-square:before {
    content: "\f081";
    color: darkcyan;
}

.click {
    margin-top: 1vh;
    font-family: 'Chivo', sans-serif;
    color: darkcyan;
    font-style: italic;
    font-size: 0.8em;
}