.navbar1{
    box-sizing: border-box;
    width: 177.75%;
    background: silver;
    color: white;
}
body{
    width: 1080px;
    align-content: center;
    flex-flow: wrap;
    background: lightgoldenrodyellow;
}

.jumbotron{
    height: 600px;
    width: 900px;
    margin-left: 50px;
    background-color: white;
}
.picture{
    float: left;
    clear: both;
    flex-flow: wrap; 
    margin-right: 10px;
}

.navbar-brand{
    background-color: darkcyan;
    padding:  10px;
    color: white;
}
.navitems{
    flex-direction: row-reverse;
    color: grey;
}
footer{
position: fixed;
bottom: 0px;
width: 100%;
background-color: grey;
height: 50px;
vertical-align: middle;
color: white;
}
.nav-link{
    color: grey;
}
.foot{
    justify-content: center;
}
