.sentence{
    background-color: aqua;
    box-sizing: border-box;
    border-color: black;
}

.navbar1{
    box-sizing: border-box;
    width: 80%;
    position: fixed;
    top: 20px;
    right: 0px;
}
body{
    width: 1080px;
    align-content: center;

}
.Name{
    box-sizing: border-box;
    margin: 20px 30px;
    width: 180px;
    text-align: center;
    background-color: darkcyan;
    color: white;
}
